@import url('https://fonts.googleapis.com/css?family=Arvo|Ubuntu&display=swap');

body {
	line-height: 1.5;
	text-align: center;
	background-color: #08090A /*smoky black*/
}

.hero {
	background-image: url("../images/neuralnet.jpg");
	background-size:cover;
	height:550px;
}

h1, h2, p, ul {
	color: #FAF0CA; /*blond*/
}

h1 {
	font-size: 100px;
	text-decoration: underline overline;
}

h2 {
	text-transform: uppercase;
	font-size: 40px;
}

.seriffont {
	font-family: 'Arvo', serif;
}

.sansfont {
	font-family: 'Ubuntu', sans-serif;
}

#slogan {
	font-style: italic;
	font-size: 30px;
}

.par {
	font-size: 20px;
}
#datasciencelist {
	font-size: 20px;
	list-style-type: none;
}
